<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In and Sign Up</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="signup-modal">
      <div class="signup-students">
        <img
          src="../../../images/src-assets/LoginSignup/students.png"
          class="login-singup-imgs"
        />
        <h1 class="login-signup-header">Students</h1>

        <form action="">
          <div class="login-signup-sub-headings">
            <h2 class="login-signup-sub-headings-text">LOG IN</h2>
            <h2 class="login-signup-sub-headings-text">SIGN UP</h2>
          </div>
          <div class="login-signup-input-container">
            <input
              type="text"
              required
              placeholder="Full Name"
              class="login-signup-input-field"
            />
            <input
              type="email"
              required
              placeholder="Email Address"
              class="login-signup-input-field"
            />
            <input
              type="password"
              required
              placeholder="Password"
              class="login-signup-input-field"
            />
            <input
              type="password"
              required
              placeholder="Confirm Password"
              class="login-signup-input-field"
            />
            <button type="submit" class="login-signup-button">SIGN UP</button>
          </div>
        </form>
      </div>
      <div class="signup-teachers">
        <img
          src="../../../images/src-assets/LoginSignup/teachers.png"
          class="login-singup-imgs"
        />
        <h1 class="login-signup-header">Teachers</h1>
        <form action="">
          <div class="login-signup-sub-headings">
            <h2 class="login-signup-sub-headings-text">LOG IN</h2>
            <h2 class="login-signup-sub-headings-text">SIGN UP</h2>
          </div>
          <div class="login-signup-input-container">
            <input
              type="text"
              required
              placeholder="Full Name"
              class="login-signup-input-field"
            />
            <input
              type="email"
              required
              placeholder="Email Address"
              class="login-signup-input-field"
            />
            <input
              type="password"
              required
              placeholder="Password"
              class="login-signup-input-field"
            />
            <input
              type="password"
              required
              placeholder="Confirm Password"
              class="login-signup-input-field"
            />

            <button type="submit" class="login-signup-button">SIGN UP</button>
          </div>
        </form>
      </div>
    </div>
    <div class="login-modal">
      <div class="login-students">
        <img
          src="../../../images/src-assets/LoginSignup/students.png"
          class="login-singup-imgs"
        />
        <h1 class="login-signup-header">Students</h1>
      </div>

      <div class="login-teachers">
        <img
          src="../../../images/src-assets/LoginSignup/teachers.png"
          class="login-singup-imgs"
        />
        <h1 class="login-signup-header">Teachers</h1>
      </div>
    </div>
  </body>
</html>
