@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.login-modal {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  height: 1000px;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  top: 56px;
  position: relative;
  align-content: center;
}

.signup-modal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.signup-students,
.signup-teachers {
  display: flex;
  flex-direction: column;
}

.signup-teachers {
  border-left: 2px solid #707070;
  padding-left: 95px;
}

.signup-students {
  padding-right: 95px;
}

.login-singup-imgs {
  height: 300px;
  width: 300px;
}

.login-signup-header {
  font-size: 42px;
  letter-spacing: 0.84px;
  color: #707070;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.login-signup-sub-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.login-signup-sub-headings-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #707070;
  text-align: center;
  letter-spacing: 0.48px;
}

.login-signup-input-container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #a5a5a5;
  text-align: left;
  letter-spacing: 0.26px;
  align-items: center;
}
.login-signup-input-field {
  width: 220px;
  height: 33px;
  border: 1px solid #a29f9f;
  border-radius: 10px;
  margin-bottom: 34px;
  padding-left: 16px;
}

.login-signup-button {
  background-color: #f91c85;
  color: #f0efef;
  border-radius: 7px;
  box-shadow: 0px 4px 5px #00000029;
  width: 175px;
  height: 35px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.32px;
  border: none;
  cursor: pointer;
}
