.LearningObjectives{
display: flex;
flex-wrap: wrap;
font-size: 30px;
text-align: center;
font-style: center;
width: 85rem;
border-radius: 25px;
}

.LearningObjectivesContainer1{
    border: 0px solid #B2E4FA;
    padding: -100px;
    padding-left: 55px;
    border-radius: 25px;
    top: 62px;
    left: 0px;
    width:150rem;
    background-color:#B2E4FA ;
}

.LearningObjectivesContainer2{
    border: 90px solid #B2E4FA;

    padding: 1px;
    padding-left: 55px;
    border-radius: 35px;
    background-color:#B2E4FA ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}