.sidebar {
    background-color: #43c0f6;
    height: 100vh;
    width: 5vw;
    transition: width 0.3s ease-in-out;
  }
  
  .inActive {
    width: 29vw;
    transition: width 0.3s ease-in-out;
    
    
  }

  
  .AidenAndrewsSD{
   width: 91px;
   transition: width 0.3s ease-in-out;
   margin: auto;
  }

  .middlePositionAndrewSD{
    width: 5vw;
    margin-left:100px ;
    transition: width 0.3s ease-in-out;
  }


  .RightArrowSD{
    top: 809px;
     left: 23px;
     width: 50px;
    height: 50px;
    border-radius: 22px;
    background-color:#F92D8E;
   
  }
  
  .RightArrowmiddlePositionSD{
    transform: rotate(180deg);
    transition: width 0.3s ease-in-out;
    margin-left: 180px;
    
  }

  .RightArrowSD.inActive{
    transform: rotate(45deg);
  }



  

  
  .buttonSideBar{
    margin: 50px;
  }

  .buttonSelection{
    background-color: burlywood;
    padding: 50px;
  }
 
  .sidebarTitle{
    font-size: 25px;
  }
